/vendor
/node_modules

# Laravel env
.env
.env.*
!.env.example

# Laravel storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/public/storage

# Laravel cache
/bootstrap/cache/*.php
/bootstrap/cache/*.json

# PHPUnit
.phpunit.result.cache

# Docker
docker/mysql/data
docker/mysql/data/*
docker/mysql/logs

# IDE
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# npm
npm-debug.log
yarn-error.log
